*{
   margin: 0;
   padding: 0;
   border: 1px solid black;
}

html,body{
   height: 100%;
}

body{
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: 5% 90% 5%;
}

header{
   background-color:darkblue;
}

main{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:deepskyblue
}

.section-tools{
   display: flex;
}

.tools-section2{
   display: flex;
}

#color-pick{
   height: 20px;
   width: 20px;
}

.canvas{
   background-color: white;
   display: grid;
   height: 500px;
   width: 500px;
}

footer{
   background-color:darkblue
}